<%- include('../partials/header') -%>
    <div class="container" style="height: 100px; border: 2px solid; background-color: currentColor;">

    </div>
    <section class="section">
        <div class="container">
            <div class="columns">

                <div class="column">
                    side
                </div>
                <div class="column is-three-fifths">
                    <div>
                        <strong>Edit Question:</strong>
                        <hr>
                    </div>
                    <form action="/question/<%= question._id %>?method=PUT" method="post">
                        <div class="field">
                            <label class="label">Title:</label>
                            <div class="control">
                                <input class="input" type="text" name="question[title]" value="<%= question.title %>">
                            </div>
                        </div>
                        <div class=" field ">
                            <label class="label ">Discription:</label>
                            <div class="control ">
                                <textarea name="question[description]" class="textarea " placeholder="Textarea "><%= question.description %></textarea>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">Update!</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column ">
                    <a href="/question/new" class="uk-button uk-button-secondary">Ask Question</a>

                </div>
            </div>
            <!-- <h1 class="title ">
                Hello World
            </h1>
            <p class="subtitle ">
                My first website with <strong>Bulma</strong>!
            </p> -->
        </div>
    </section>
    <%- include('../partials/footer') -%>