<%- include('../partials/header') -%>
    <div class="container" style="padding: 10px;">
        <div class="uk-margin">
            <form class="uk-search uk-search-default" style="width: 100%;">
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search">
            </form>
            <!-- </div>
        <div class="field mt-4 ">
            <p class="control has-icons-left has-icons-right ">
                <input class="input is-small" name="Search" type="Search" placeholder="Seacrh here!">
                <span class="icon is-small is-left "> <i class="fa fa-search" aria-hidden="true"></i></span>
                </span>
            </p>
        </div> -->
        </div>
        <nav class="level is-mobile" style="background-color:rgb(241, 241, 241); padding: 10px;">

            <div class="level-item has-text-centered">
                <div class="p-0 m-0">

                    <p class="heading p-0 m-0">Questions</p>
                    <p class="title p-0 m-0">
                        <%= questionTotal %>
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div class="p-0 m-0">

                    <p class="heading p-0 m-0">Answers</p>
                    <p class="title p-0 m-0">
                        <%=answerTotal %>
                    </p>
                </div>
            </div>

            <div class="level-item has-text-centered">
                <div class="p-0 m-0">

                    <p class="heading p-0 m-0">Unanswers</p>
                    <p class="title p-0 m-0">789</p>
                </div>
            </div>
        </nav>
        <section class="section mb-6">
            <div class="container">
                <div class="columns">

                    <div class="column left-line">
                        <aside class="menu  ">
                            <p class="menu-label">
                                General
                            </p>
                            <ul class="menu-list">
                                <% if(currentUser) {%>
                                    <li><a href="/dashboard">Dashboard</a></li>
                                    <li><a href="/myquestion">My Questions</a></li>
                                    <% } %>
                                        <li><a>Ask question</a></li>
                            </ul>
                            <!-- <p class="menu-label">
                            Administration
                        </p> -->
                            <!-- <ul class="menu-list">
                            <li><a>Team Settings</a></li>
                            <li>
                                <a class="is-active">Manage Your Team</a>
                                <ul>
                                    <li><a>Members</a></li>
                                    <li><a>Plugins</a></li>
                                    <li><a>Add a member</a></li>
                                </ul>
                            </li>
                            <li><a>Invitations</a></li>
                            <li><a>Cloud Storage Environment Settings</a></li>
                            <li><a>Authentication</a></li>
                        </ul> -->
                            <!-- <p class="menu-label">
                            Transactions
                        </p>
                        <ul class="menu-list">
                            <li><a>Payments</a></li>
                            <li><a>Transfers</a></li>
                            <li><a>Balance</a></li>
                        </ul> -->
                        </aside>
                    </div>
                    <div class="column is-three-fifths">
                        <div class="tab">

                        </div>
                        <div class="tabs is-center is-small">
                            <ul>
                                <li class="is-active"><a href="/question">All Questions (<%= questionTotal %>) </a></li>
                                <li><a href="/question/unanswers">Unanswer Question</a></li>
                                <li><a>Answer Question</a></li>
                                <!-- <li>
                                <div class="field mt-4 is-small">
                                    <p class="control has-icons-left has-icons-right ">
                                        <input class="input is-small" name="Search" type="Search" placeholder="Seacrh here!">
                                        <span class="icon is-small is-left ">
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </span>
                                       
                                        </span>
                                    </p>
                                </div>
                            </li> -->
                            </ul>
                        </div>
                        <% Questions.forEach((Question)=>{%>
                            <a>
                                <div class="card mb-2" style="border: 1px solid rgb(225, 223, 223);">
                                    <table class="card-header-title" style="width: 100%;">
                                        <tr>
                                            <td style="padding-right:5px;">
                                                <i class="fas fa-question-circle    "></i> </td>
                                            <td style="width: 100% auto; background-color: rgb(187, 208, 255); padding:5px 20px 10px 10px; text-align: justify;">
                                                <%=Question.description%>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id velit ullam eius magnam non porro minima voluptatibus repellendus? Obcaecati unde quam eveniet. Soluta magnam placeat inventore sed repellendus consequatur quasi!
                                            </td>
                                            <td style=" text-align: center; width: 150px; background-color: rgb(187, 208, 255); padding:5px 20px 10px 10px;">
                                                <%=Question.createdAt.toDateString()%>
                                                    <br>
                                                    <a href="/question/<%=Question._id%>" class="button ">Check Answer</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </a>
                            <% }) %>

                                <!-- ///////////////////loop 2 -->
                    </div>
                    <div class="column ">
                        <a href="/question/new" class="uk-button uk-button-secondary">Ask Question</a>
                    </div>
                </div>
                <!-- <h1 class="title ">
                Hello World
            </h1>
            <p class="subtitle ">
                My first website with <strong>Bulma</strong>!
            </p> -->
        </section>
        </div>
        <%- include('../partials/footer1') -%>