<%- include('../partials/header') -%>

    <section class="section">
        <div class="container">
            <div class="columns">

                <div class="column left-line">
                    <a href="/question/new" class="uk-button uk-button-secondary">Ask Question</a>
                    <aside class="menu">
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list">
                            <li><a>Dashboard</a></li>
                            <li><a>Customers</a></li>
                            <li><a>My Questions</a></li>
                        </ul>
                        <p class="menu-label">
                            Administration
                        </p>
                        <ul class="menu-list">
                            <li><a>Team Settings</a></li>
                            <li>
                                <a class="is-active">Manage Your Team</a>
                                <ul>
                                    <li><a>Members</a></li>
                                    <li><a>Plugins</a></li>
                                    <li><a>Add a member</a></li>
                                </ul>
                            </li>
                            <li><a>Invitations</a></li>
                            <li><a>Cloud Storage Environment Settings</a></li>
                            <li><a>Authentication</a></li>
                        </ul>
                        <p class="menu-label">
                            Transactions
                        </p>
                        <ul class="menu-list">
                            <li><a>Payments</a></li>
                            <li><a>Transfers</a></li>
                            <li><a>Balance</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-three-fifths">

                    <!-- /////////////////// -->
                    <div class="card" style="border-left:5px solid #0f7ae560 ; border-right: 5px solid #0f7ae560;">
                        <header class="card-header">
                            <p class="card-header-title" style="padding:0px; margin: 12px;">
                                Question
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content" style="margin: 0px;">
                                <%=question.title%>
                                    <%= question.description %>


                            </div>

                        </div>

                        <div class="level-left" style="position: relative; margin-bottom: 0px; padding-bottom: 0px; padding-left: 20px;">
                            <p class=" is-small button is-small" style=" margin-bottom: 0px;"><strong>Asked by</strong>:
                                <%=question.author.username%>
                            </p>
                            <p class=" is-small button is-small" style=""><strong>Language: </strong> English </p>
                            <p class=" is-small button is-small" style=""> <strong>Date:</strong>
                                <%= question.createdAt.toDateString() %>
                            </p>
                            <p class=" is-small button is-small"> <strong>Views:</strong> 3 </p>
                        </div>
                        <!-- <footer class="card-footer">
                            <a href="#" class="card-footer-item">Save</a>
                            <a href="#" class="card-footer-item">Edit</a>
                            <a href="#" class="card-footer-item">Delete</a>
                        </footer> -->
                    </div>
                    <!-- ////////////////////////////// -->
                    <hr style="margin:2px; padding: 5px;">



                    <hr>
                    <div class="level-left">
                        <a class="uk-button uk-button-primary" type="button" <% if(!currentUser){%> 
                        onclick="UIkit.notification({message: 'Plese Login first'})"
                        <% } %> href="/question/<%=question._id%>/answer/new" 
                        >Click Answer</a>

                        <% if(currentUser && question.author.id.equals(currentUser._id)){ %>
                            <a href="/question/<%= question._id%>/edit" class="level-item button is-info is-small"><span class=" is-small"> <i class="fas fa-edit"></i> Edit</span></a>
                            <form action="/question/<%=question._id%>?_method=DELETE" method="post">
                                <button class="level-item button is-danger is-small"><span class=" is-small"><i class="fas fa-trash" aria-hidden="true"></i> Delete</span></button>
                            </form>
                            <% } %>

                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                </a>
                    </div>
                    <hr>
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <p class="title">Answer</p>

                                <p>
                                    <% question.answers.forEach((answer)=>{%>
                                        <% let m = answer.text  %>
                                            <% if(m && m.length < 0) {%>
                                                <% }if(m && m.length > 0){ %>
                                                    <%= answer.text%>
                                                        <% } %>
                                                            <% }) %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////////////////lope is heere  -->
                    <div>

                    </div>
                    <div style="margin-bottom: 200px; ">
                        <% if(currentUser && currentUser.isAdmin){%>
                            <form action="/question/<%=question._id%>/answer" method="post">
                                <div class="control ">
                                    <label class="label ">Answer:</label>
                                    <textarea id="editor" name="answer[text]" style="min-height: 200px !important; " class="textarea ">
                                        </textarea>
                                </div>
                                <script>
                                    ClassicEditor
                                        .create(document.querySelector('#editor'))
                                        .then(editor => {
                                            console.log(editor);
                                        })
                                        .catch(error => {
                                            console.error(error);
                                        });
                                </script>
                                <div class="field is-grouped ">
                                    <div class="control ">
                                        <button class="uk-button uk-button-secondary ">Submit Answer!</button>
                                    </div>
                                </div>
                            </form>
                            <% }else{ %>
                                <div class="center" style="text-align: center;">
                                    <button class="button">Yes</button>
                                    <button class="button button-danger">No</button>
                                </div>
                                <% } %>
                    </div>
                </div>
                <div class="column ">
                    <a href="/question/new " class="uk-button uk-button-secondary ">Ask Question</a>
                </div>
            </div>
            <!-- <h1 class="title ">
                Hello World
            </h1>
            <p class="subtitle ">
                My first website with <strong>Bulma</strong>!
            </p> -->
        </div>
    </section>
    <%- include('../partials/footer') -%>